DATABASE_URL=postgresql://user:password@localhost:5432/movie_base
SYNC_API_KEY=teamwebsinaroapikey
ALLOWED_ORIGINS=https://moviestar-vz2t.onrender.com
RUN_SCHEDULER=true

# Cloudinary credentials (free tier at cloudinary.com)
CLOUDINARY_CLOUD_NAME=dsd8nmx49
CLOUDINARY_API_KEY=261436732836248
CLOUDINARY_API_SECRET=DNz9V0g8udDnRg30eQ4C04_mxDs
